<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
      function refresh() {
          $.ajax({
              url: "{% url 'emotion_app:emotion' %}",
              success:location.reload(),
              async: true
          });
      }

      jQuery(document).ready(function(){
          setInterval("refresh()",10000);
      });
    </script>
  </head>
  <body>
    <h1>I am so ○ucking happy!!!</h1>


  <img src="/media/emotion_app/happy.png" width="70%" height="70%" border="0" />

  </body>
</html>
